.wrapper {
    padding: 16px 0;
    border-top: 1px solid #e3e3e4;
}

.title {
    margin-bottom: 6px;
    font-size: 1.4rem;
    color: #161823bf;
    font-weight: 600;
}

.more-btn {
    font-size: 1.4rem;
    font-weight: 700;
    color: #fe2c55;
    cursor: pointer;
}
